/******************************** LAYOUT STYLES ******************************/

#leftPane {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 300px;
	background: #1c1f24;
	overflow: hidden;
}

#rightPane {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 300px;
	right: 0px;
	overflow-x: hidden;
}

#titleBlock {
	font-weight: bold;
	font-size: 25px;
	padding: 8px 20px;
	color: white;
	background-color: #1f70a8;
	position: absolute;
	top: 0px;
	height: 50px;
	width: 100%;
}

/******************************** OPTION STYLES ******************************/

#options {
	position: absolute;
	top: 0px;
	right: 0%;
	width: 100px;
	height: 50px;
	padding: 5px;
}

#options div.changeViewModeButton {
	float: right;
	height: 40px;
	width: 40px;
}

#options div.changeViewModeButtonDetailed {
	background-color: green;
}

#options div.changeViewModeButtonIcon {
	background-color: brown;
}

/**************************** INSTALLER MODAL STYLES *************************/

#installer-modal {
	font-family: 'Roboto Condensed' !important;
}
#installer-modal .modal-content {
	width: 500px;
	margin-left: -250px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -138px;
}
#installer-modal .modal-footer {
	text-align: center;
	margin-top: 0px;
}
#installer-modal .modal-footer button {
	width: 155px;
	outline: 0 none;
}
#installer-modal .modal-header .modal-title {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}
#installer-modal .modal-header .close {
	margin-top: 2px;
	outline: 0 none;
}
#installer-modal .modal-body {
	font-size: 18px;
	font-weight: 300;
}
#installer-modal .graphic { 
	float: left;
	margin-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#installer-modal .alert {
	font-size: 14px;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

/**/
#editor {
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#editor .CodeMirror {
	height: 100%;
}
.powered-by-firepad {
	display: none;
}
.firepad {
	height: 100%;
}
#left-toggle {
	font-size: 15px;
	outline: 0 none;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	background-image: none;
	background-color: transparent;
	border: 0px;
	color: #56688a;
	width: auto;
	box-shadow: none;
	margin-left: -8px;
	margin-top: 4px;
}
#left-toggle:focus,
#left-toggle:active {
	background-image: none;
}
#left-toggle:hover {
	color: #728ab8;
}
#path-heading {
	font-family: proxima-nova, Arial;
	font-weight: 600;
	font-size: 18px;
	vertical-align: middle;
	text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.3);
	margin-top: 8px;
	-webkit-font-smoothing: antialiased;
	color: #56688a;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	text-align: center;
}