<!-- General Layout -->
<div id="leftPane" ng-controller="BrowserSidebarCtrl">
	<div class="header">
		<h4 id="title">Navigator</h4>
		<div id="buttons">
			<button type="button" class="btn btn-default glyphicon glyphicon-refresh" ng-click="reloadNav()"></button>
		</div>
	</div>
	<div id="sidebar" ng-switch on="state">
		<!-- TODO Add loading and empty alt vews in an ng-switch -->
		<div class="panel-group" id="machine-accordion" ng-switch-when="2">
			<!-- The state is: SIDEBAR_STATE_NORMAL -->
			<div class="nodeContainer row" ng-repeat="node in nodes" ng-include="'/static/templates/treeElement.html'" ></div>
		</div>
		<div class="sidebar-panel" id="loading-panel" ng-switch-when="0">
			<!-- The state is: SIDEBAR_STATE_LOADING -->
		</div>
		<div class="sidebar-panel" id="empty-panel" ng-switch-when="1">
			<!-- The state is: SIDEBAR_STATE_EMPTY -->
			<div id="empty-text-outer">
				<div class="empty-text-border"></div>
				<div class="no-text-select" id="empty-text-inner">
					Sir, there appears to be nothing in this directory.</br>If you doubt my assessment, click the <span class="glyphicon glyphicon-refresh" style="font-size: 12px; padding: 0px 3px;"></span> button above.
				</div>
				<div class="empty-text-border"></div>
			</div>
		</div>
		<div class="sidebar-panel" id="error-panel" ng-switch-when="3">
			<!-- The state is: SIDEBAR_STATE_ERROR -->
			<div id="error-text-outer">
				<div class="alert alert-danger" id="error-text-inner">
					Sir, it appears that I couldn't procure the contents of this directory. Check your connection.
				</div>
			</div>
		</div>
	</div>
</div>
<div id ="rightPane" ng-controller="BrowserContentCtrl">
	<div style="position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; background: #fff;" ng-switch on="state">
		<div id="dragbar"></div>
		<div class="header" ng-switch-when="2">
			<div style="float: left;">
				<button id="left-toggle" type="button" class="btn btn-default glyphicon glyphicon-th-list" ng-click="leftNav()"></button>
			</div>
			<div id="path-heading">
				{{suchPath}}
			</div>
			<div id="buttons">
				<button type="button" class="btn btn-default glyphicon glyphicon-save" ng-click="save()"></button>
				<button type="button" class="btn btn-default glyphicon glyphicon-user" ng-click="rightNav()"></button>
				<button type="button" class="btn btn-default glyphicon glyphicon-share-alt" ng-click="linkMe()"></button>
			</div>
		</div>
		<div id="editor" style="background: url(/static/img/white-loader.gif) no-repeat center; right: 200px;" ng-controller="EditorCtrl" ng-switch-when="2"></div>
		<div id="userlist" style="position: absolute; top: 40px; right: 0px; bottom: 0px; width: 200px; background-color: #30363e; color: white;" ng-switch-when="2"></div>
		<div class="sidebar-panel" id="empty-panel" style="background-color: #fff;" ng-switch-when="1">
			<!-- The state is: SIDEBAR_STATE_EMPTY -->
			<div id="empty-text-outer" style="margin-top: -150px;">
				<div class="well" id="empty-text-inner" style="width: 300px; text-shadow: none; color: #333; font-size: 22px;">
					<span class="glyphicon glyphicon-info-sign" style="font-size: 96px; padding-bottom: 18px;"></span></br>
					Salutations. To get started, simply select a file from the left navigation so we can get right to work.
				</div>
			</div>
		</div>
		<div class="sidebar-panel" id="loading-panel-white" ng-switch-when="0">
			<!-- The state is: SIDEBAR_STATE_LOADING -->
		</div>
		<div class="sidebar-panel" id="loading-panel" ng-switch-default>
		</div>
	</div>
</div>