#title{
	margin: 100px auto 0px auto;
	height: 100px; 
	width: 1250px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 65px;
}

#logo{
	margin: 0px auto;
	height: 500px; 
	width: 500px;
	background: url(/static/img/branson.png) no-repeat center center;
	background-size: cover;
}

#message{
	margin: 20px auto 0px auto;
	height: 100px; 
	width: 800px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 40px;
}

body{
	overflow: hidden;
	height: 100vh;
	background-image: -ms-linear-gradient(top left, #17CC0A 0%, #348200 100%);
	background-image: -moz-linear-gradient(top left, #17CC0A 0%, #348200 100%);
	background-image: -o-linear-gradient(top left, #17CC0A 0%, #348200 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #17CC0A), color-stop(1, #348200));
	background-image: -webkit-linear-gradient(top left, #17CC0A 0%, #348200 100%);
	background-image: linear-gradient(to bottom right, #17CC0A 0%, #348200 100%);
}

html{
	overflow: hidden;
}